<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Registrarse en CakeHouse</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">CakeHouse</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">INICIO<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'productos' %}">PRODUCTOS<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'contacto' %}">CONTACTO<span class="sr-only">(current)</span></a>
                </li>
                {% if perms.app.add_producto %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'agregar_producto' %}">AGREGAR<span
                            class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                {% if perms.app.view_producto %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'listar_productos' %}">CARRITO<span
                            class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'logout' %}">LOGOUT<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">@{{ user.username }}<span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login' %}">LOGIN<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'registro' %}">REGISTRARSE<span
                            class="sr-only">(current)</span></a>
                </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
    </nav>
    {% load crispy_forms_tags %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2>Crea tu cuenta de CakeHouse</h2>
                        <hr>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <a href="{% url 'home' %}">Volver al Home</a> |
                            <a href="{% url 'login' %}">¿Ya tienes cuenta?</a>
                            <input type="submit" value="Registrarse" class="btn btn-success float-right">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>