{% extends 'app/base.html' %}

{% load static %}

{% block js %}
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script>
    $(document).ready(function () {
        $('.slider').bxSlider({
            mode: 'fade',//horizontal, vertical, fade
            auto: true,
            pause: 2000
        });
    });
</script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
{% endblock %}

{% block contenido %}

<div class="slider">
    <div>
        <img src="{% static 'app/img/banner/pastel.jpg' %}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/pastel2.jpg' %}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/pastel3.jpg' %}" alt="">
    </div>
    <div>
        <img src="{% static 'app/img/banner/pastel4.jpg' %}" alt="">
    </div>
</div>
{% load humanize %}
<h3 class="container" style="text-align: center;">Productos</h3>
<br>
<div class="productos container">
    {% for p in productos %}
    <div class="card" style="width: 18rem; margin-right: 20px; margin-bottom: 2rem;">
        <img src="{{ p.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h3 class="card-title">{{ p.tipo | capfirst }}</h3>
            <p class="card-text">{{ p.nombre | title }}</p>
            <p class="card-text">{{ p.descripcion | title }}</p>
            <p class="card-text">${{ p.precio | intcomma }}</p>
            <a href="#" class="btn btn-primary">Comprar</a>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}