{% extends 'app/base.html' %}

{% load static %}

{% block js %}
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
{% endblock %}

{% block contenido %}
<br><br>
<h3>Galeria de algunos de nuestros productos</h3>
           <br><br>
           <div class="galeria">
                <a data-fancybox="gallery" href="{% static 'app/img/productos/pastel4.jpg' %}"><img src="{% static 'app/img/productos/pastel4.jpg' %}"></a>
                <a data-fancybox="gallery" href="{% static 'app/img/productos/pastel5.jpg' %}"><img src="{% static 'app/img/productos/pastel5.jpg' %}"></a>
                <a data-fancybox="gallery" href="{% static 'app/img/productos/pastel6.jpg' %}"><img src="{% static 'app/img/productos/pastel6.jpg' %}"></a>
                <a data-fancybox="gallery" href="{% static 'app/img/productos/pastel7.jpg' %}"><img src="{% static 'app/img/productos/pastel7.jpg' %}"></a>
                <a data-fancybox="gallery" href="{% static 'app/img/productos/pastel8.jpg' %}"><img src="{% static 'app/img/productos/pastel8.jpg' %}"></a>     
                <a data-fancybox="gallery" href="{% static 'app/img/productos/pastel9.jpg' %}"><img src="{% static 'app/img/productos/pastel9.jpg' %}"></a>
                <a data-fancybox="gallery" href="{% static 'app/img/productos/pastel10.jpg' %}"><img src="{% static 'app/img/productos/pastel10.jpg' %}"></a>   
                <a data-fancybox="gallery" href="{% static 'app/img/productos/pastel11.jpg' %}"><img src="{% static 'app/img/productos/pastel11.jpg' %}"></a>        
           </div>
           

{% endblock %}